<template>
	<div class="card" 
      		:style="cardStyle"
		ref="cardEl" 
		v-on:mouseenter="handleMouseEnter" 
		v-on:mouseleave="handleMouseLeave" 
		v-on:click="onClick"
	>
		<h2 :style="{ fontSize: `${titleSize}px` }">
			{{ title }}
		</h2>
		<div class="details" v-bind:style="detailsStyle">
			<slot />
		</div>
	</div>
</template>

<script>
import Tilt from 'vanilla-tilt';
import formatPx from '../../util/formatPx';
import {getDominateColors} from '../../util/colorExtractor.js';

export default {
  name: 'Card',
  props: {
    title: String,
    height: {
      type: [Number, String],
      default: () => 450,
    },
    width: {
      type: [Number, String],
      default: () => 450,
    },
    titleSize: {
      type: Number,
      default: () => 48,
    },
    backgroundImage: String,
    backgroundColor: {
      type: String,
      default: () => '#fff',
    },
    backgroundSize: {
      type: String,
      default: () => 'cover',
    },
    color: String,
    onClick: {
      type: Function,
      default: () => () => {},
    },
    tiltProps: {
      type: Object,
      default: () => ({max: 10}),
    },
  },
  data() {
    return {
      mouseOver: false,
      detailsColor: this.color,
    };
  },
  methods: {
    handleMouseEnter() {
      this.mouseOver = true;
    },
    handleMouseLeave() {
      this.mouseOver = false;
    },
  },
  computed: {
    cardStyle() {
      return {
        minHeight: formatPx(this.height),
        height: formatPx(this.height),
        minWidth: formatPx(this.width),
        width: formatPx(this.width),
        background: this.backgroundImage
          ? `linear-gradient(to top, ${this.detailsColor}, ${
              this.mouseOver ? 50 : 20
            }%, rgba(0, 0, 0, 0.4)), url(${this.backgroundImage}) center / ${
              this.backgroundSize
            } no-repeat ${this.backgroundColor}`
          : this.detailsColor,
      };
    },
    detailsStyle() {
      return {
        height: `${this.mouseOver ? 'auto' : '0'}`,
        backgroundColor: `linear-gradient(to top, ${
          this.detailsColor
        }, 90%, transparent)`,
        display: this.mouseOver ? 'block' : 'none',
      };
    },
  },
  async mounted() {
    Tilt.init(this.$refs.cardEl, this.tiltProps);

    if (this.detailsColor == null && this.backgroundImage) {
      const dominateImageColors = await getDominateColors(
        this.backgroundImage,
        {ignoreColors: ['rgb(0, 0, 0)', 'rgb(255, 255, 255)']},
      );

      this.detailsColor = dominateImageColors[0];
    }
  },
};
</script>

<style scoped>
.card {
  box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform-style: preserve-3d;
  margin: 8px;
  border-radius: 2px;
  background-attachment: scroll;
  background-origin: border-box;
  background-clip: border-box;
}

h2 {
  color: #fff;
  font-size: 42px;
  margin: 0 0 8px 8px;
  text-align: left;
  transform: translateZ(20px);
  text-shadow: 2px 2px #333;
}

.details {
  color: #333;
  text-align: left;
  padding: 0 12px;
  word-wrap: wrap;
}
</style>
