<template>
	<li 
		ref="cardLargeEl" 
		class="card-large" 
  		v-on:mouseenter="handleMouseEnter"
  		v-on:mouseleave="handleMouseLeave"
		v-on:click="onClick"
  	>
		<div class="content">
			<h1>{{ title }}</h1>	
			<p>{{ description }}</p>
		</div>
		<div class="solid-color" :style="colorStyle" />
		<div class="image" :style="imageStyle">
			<div v-if="mouseOver" class="hover-content">
				<slot />
			</div>
		</div>
	</li>
</template>

<script>
import Tilt from 'vanilla-tilt';

export default {
  name: 'CardLong',
  props: {
    title: String,
    description: String,
    backgroundImage: String,
    color: {
      type: [String, Function],
      default: () => '#333',
    },
    onClick: {
      type: Function,
      default: () => () => {},
    },
    tiltOptions: {
      type: Object,
      default: () => ({
        max: 4,
        reverse: true,
        axis: 'X',
      }),
    },
  },
  data() {
    return {
      mouseOver: false,
    };
  },
  methods: {
    tiltInit() {
      Tilt.init(this.$refs.cardLargeEl, this.tiltOptions);
    },
    handleMouseEnter() {
      this.mouseOver = true;
    },
    handleMouseLeave() {
      this.mouseOver = false;
    },
  },
  computed: {
    colorStyle() {
      return {
        backgroundColor: this.color,
      };
    },
    imageStyle() {
      return {
        background: `linear-gradient(to right, ${this.color}, 
		${this.mouseOver ? 75 : 50}%, rgba(0, 0, 0, 0.5)), right / cover url(${
          this.backgroundImage
        }) no-repeat`,
      };
    },
  },
  mounted() {
    this.tiltInit();
  },
};
</script>

<style scoped>
.card-large {
  height: 150px;
  margin: 24px auto 0 auto;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
}

.solid-color {
  flex: 1;
}

.content {
  position: absolute;
  left: 24px;
  top: 16px;
  text-align: left;
}

.image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
}

h1 {
  margin: 0;
  font-size: 48px;
  text-shadow: 2px 2px #333;
  color: #fff;
  transform: translateZ(20px);
}

p {
  margin-top: 8px;
  font-size: 18px;
  white-space: pre-wrap;
  color: #fff;
  text-shadow: 2px 2px #333;
  text-align: left;
}
</style>
