<template>
	<button :style="buttonStyle" v-on:click="click"><slot></slot></button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    fontSize: {
      type: Number,
      default: () => 16,
    },
    click: {
      type: Function,
      default: () => ({}),
    },
  },
  computed: {
    buttonStyle() {
      return {
        fontSize: `${this.fontSize}px`,
      };
    },
  },
};
</script>

<style scoped>
button {
  border: none;
  background: linear-gradient(to right, #37ecba 0%, #72afd3 30%);
  padding: 8px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px #333;
}

button:hover {
  background: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
}
</style>
