<template>
	<button class="button-round" v-on:click="click" :style="buttonStyle"><slot></slot></button>
</template>

<script>
import formatPx from '../util/formatPx';

export default {
  name: 'ButtonRound',
  props: {
    size: {
      type: [Number, String],
      default: () => 48,
    },
    fontSize: {
      type: [Number, String],
      default: () => 16,
    },
    click: {
      type: Function,
      default: () => () => {},
    },
  },
  computed: {
    buttonStyle() {
      return {
        height: formatPx(this.size),
        width: formatPx(this.size),
        fontSize: formatPx(this.fontSize),
      };
    },
  },
};
</script>

<style scoped>
.button-round {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  text-shadow: 1px 1px #333;
}
</style>
