<template>
	<div class="side-float" 
      		:style="floatStyle"
		v-on:mouseenter="handleMouseEnter"
		v-on:mouseleave="handleMouseLeave"
      	>
		<div class="content" :style="contentStyle">
			<slot />
		</div>
	</div>
</template>

<script>
import formatPx from '../util/formatPx';

export default {
  name: 'SideFloat',
  props: {
    left: {
      type: Boolean,
      default: () => true,
    },
    top: [Number, String],
    bottom: [Number, String],
    show: Boolean,
  },
  data() {
    return {
      showContent: this.show,
    };
  },
  methods: {
    handleMouseEnter() {
      this.showContent = true;
    },
    handleMouseLeave() {
      this.showContent = this.show;
    },
  },
  computed: {
    floatStyle() {
      return {
        left: this.left ? 0 : null,
        right: !this.left ? 0 : null,
        top: this.top && formatPx(this.top),
        bottom: this.bottom && formatPx(this.bottom),
      };
    },
    contentStyle() {
      let styleObj = {};

      styleObj[this.left ? 'left' : 'right'] = this.showContent ? 0 : '-90%';

      return styleObj;
    },
  },
  watch: {
    show(newValue) {
      this.showContent = newValue;
    },
  },
};
</script>

<style>
.side-float {
  position: fixed;
  display: flex;
}

.content {
  position: relative;
  transition: all 0.5s;
}
</style>
