<template >
	<div class="tag"
		:style="tagStyle"
      		v-on:mouseenter="onMouseEnter"
      		v-on:mouseleave="onMouseLeave"
      		v-on:click="onClick"
	>
		<span class="icon-container" :style="customStyles['icon']">
			<slot name="icon">{{ icon }}</slot>
		</span>
		<slot>{{ name }}</slot>
	</div>
</template>

<script>
export default {
  name: 'Tag',
  props: {
    name: String,
    color: String,
    onClick: {
      type: Function,
      default: () => () => {},
    },
    onMouseEnter: {
      type: Function,
      default: () => () => {},
    },
    onMouseLeave: {
      type: Function,
      default: () => () => {},
    },
    customStyles: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    tagStyle() {
      return {
        backgroundColor: this.color,
      };
    },
  },
};
</script>

<style scoped>
.tag {
  color: #fff;
  display: inline-flex;
  padding: 4px 6px;
  font-size: 13px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  border-radius: 2px;
}

.icon-container {
  margin-right: 4px;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  background: #fff;
  color: #0250c5;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
